$dark-grey-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grey-blue: hsl(212, 23%, 69%);
$light-grey-blue: hsl(210, 46%, 95%);
$light-blue: hsl(208, 92%, 100%);
$link-color: hsl(228, 45%, 44%);
