@use "colors" as c;
@use "../globals/media-queries" as *;
.details {
  padding: 2.5em;
  position: relative;
  &__header {
    font-size: clamp(1.3rem, 1.0122rem + 1.2245vw, 1.6rem);
  }
  &__content {
    font-size: 1.08rem;
    @include mobile-queries($mobile) {
      font-size: 1rem;
    }
  }
  &__user {
    display: flex;
    gap: 0.8em;
    align-items: center;
    &-avatar {
      inline-size: 3em;
      block-size: 3em;
      border-radius: 3em;
    }
    &-profile {
      margin-inline-end: auto;
    }
  }
  > * + * {
    margin-top: 2rem;
  }
}
