// ### Primary

// ### Neutral

$white: hsl(0, 0%, 100%);

$green-200: hsl(148, 38%, 91%);
$green-600: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 54%);

$grey-500: hsl(186, 15%, 59%);
$grey-900: hsl(187, 24%, 22%);

//

$primary-color: $green-200;
$link-color: $green-600;
$text-color: $grey-900;

$colorsMap: (
  white: $white,
  green-200: $green-200,
  green-600: $green-600,
  red: $red,
  grey-500: $grey-500,
  grey-900: grey-900,
);

:root {
  --background: $primary-color;
  --foreground: $text-color;
  @media (prefers-color-scheme: dark) {
    --background: $text-color;
    --foreground: $primary-color;
  }
  & {
    @each $name, $color in $colorsMap {
      --#{""+$name}: #{$color};
    }
  }
}

@each $name, $color in $colorsMap {
  .#{"" + $name},
  .hv-#{"" + $name}:hover,
  .a-#{"" + $name}:active,
  .a-#{"" + $name}:focus {
    background-color: $color;
  }
  .c-#{"" + $name}.c-#{"" + $name},
  .hv-c-#{"" + $name}:hover,
  .a-c-#{"" + $name}:active,
  .a-c-#{"" + $name}:focus {
    color: $color;
  }
  .b-#{"" + $name},
  .hv-b-#{"" + $name}:hover,
  .a-b-#{"" + $name}:active,
  .a-b-#{"" + $name}:focus {
    border: $color 2px solid;
  }
  .out-#{"" + $name},
  .hv-out-#{"" + $name}:hover,
  .a-out-#{"" + $name}:active,
  .a-out-#{"" + $name}:focus {
    outline: $color 1px solid;
  }
}
