@use "../globals/" as g;

.content {
  &__hero {
    display: grid;
    gap: 2em;
    grid-template-areas: "hero-image";
  }
  @include g.from-mobile(g.$mobile) {
    &__hero {
      grid-area: hero;
      grid-template-areas: "hero-image hero-image";
    }
    &__news {
      grid-area: news;
    }
    &__more {
      grid-area: more;
    }
    grid-template-areas:
      "hero hero"
      "news more";
  }
  @include g.from-mobile(g.$pc) {
    grid-template-areas:
      "hero hero news"
      "more more more";
  }
}
