@use "../functions/" as f;
@use "../globals/" as g;

.more {
  &__article {
    @include g.from-mobile(g.$pc) {
      inline-size: calc((100% / 3) - 2em);
    }
    &-img {
      inline-size: f.clamp-builder(80, 100);
    }
    &-header {
      font-size: f.clamp-builder(1.2rem, 2rem);
    }
    &-title {
      font-size: f.clamp-builder(1rem, 1.5rem);
      &-link {
        color: var(--very-dark-blue);
        @include g.active-state {
          color: var(--soft-red);
        }
      }
    }
  }
}
