@use "../functions/" as f;
.news {
  &__article {
    & + & {
      border-block-start: f.to-r-em(1) solid var(--dark-grayish-blue);
    }
    display: grid;
    gap: 1em;
    padding-block: 2em;
    &-details {
      color: var(--dark-grayish-blue);
      font-size: f.clamp-builder(1rem, 1rem);
    }
  }
}
