@use "../globals/" as g;

.footer {
  &__link {
    color: var(--white);
    position: relative;
    @include g.active-state {
      &::before {
        content: "";
        background-color: var(--white);
        position: absolute;
        inline-size: 50%;
        padding: 0.1em;
        inset-block-end: -0.5em;
        inset-inline-start: 25%;
      }
    }
  }
}
