@use "reset";
@use "variables" as *;

body {
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $medium-font-weight;
  background-color: $white;
  color: $grey-400;
  padding: 2em;
  line-height: 1.25;
}

h2,
h1 b {
  color: $grey-500;
  font-weight: $bold-font-weight;
}
.stack > * + * {
  margin-block-start: 1.5em;
}
.header {
  text-align: center;
  margin-block: 3em;
  h1 {
    font-weight: $default-font-weight;
    font-size: clamp(1.5rem, 5vw, 2rem);
  }
}

.article {
  border-radius: $border-radius;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  box-shadow: rgba($grey-400, 0.2) 0 0.5em 0.5em 0;

  > * + * {
    margin-block-start: 1em;
  }
  img {
    align-self: flex-end;
    margin-block: 1.5em;
  }
  p {
    font-size: 0.9rem;
  }
  &.article-1 {
    @include border-color($cyan);
  }
  &.article-2 {
    @include border-color($red);
  }
  &.article-3 {
    @include border-color($orange);
  }
  &.article-4 {
    @include border-color($blue);
  }
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@include desktop {
  .header {
    max-inline-size: 30rem;
    margin: 4em auto;
  }
  .main {
    display: flex;
    gap: 1.5em;
    max-inline-size: 60rem;
    margin-inline: auto;
    align-items: center;
    > * {
      width: calc(33% - 1em);
    }
    .middle {
      margin-block: 0;
    }
  }
}
