@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 
    Initial declarations
*/

:root {
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --background: var(--white);
  --foreground: var(--black);

  --default-spacing: 1em;

  --ff-serif: "Roboto", sans-serif;
  --ff-architect: "Architects Daughter", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}

/* 
    Reset
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--ff-serif);
  line-height: 1.5;
}

a {
  color: hsl(var(--foreground) / var(--link-accent, 0.8));
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

/* 
    Helper classes
*/
.underline,
.link-underline a {
  text-decoration: underline;
}

.bg-black {
  background-color: hsl(var(--foreground) / var(--bg-accent, 1));
}

.bg-white {
  background-color: hsl(var(--background) / var(--bg-accent, 1));
}

.text-black {
  color: hsl(var(--foreground) / var(--text-accent, 1));
}

.text-white {
  color: hsl(var(--background) / var(--text-accent, 1));
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-direction: var(--direction, row);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap {
  gap: var(--gap, var(--default-spacing));
}

.p {
  padding: var(--p, var(--default-spacing));
}

.m {
  margin: var(--m, var(--default-spacing));
}

.text-center {
  text-align: center;
}

.ff-architect {
  font-family: var(--ff-architect);
}
