@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 
    Initial declarations
*/

:root {
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --accent-color: 240, 92%, 64%;
  --background: var(--white);
  --foreground: var(--black);

  --default-spacing: 1em;

  --ff-serif: "Roboto", sans-serif;
  --ff-architect: "Architects Daughter", cursive;

  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;
  --fw-default: var(--fw-300);
  --fw-bold: var(--fw-700);
  --fw-min-bold: var(--fw-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}

/* 
    Reset
*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: var(--fw-default);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--ff-serif);
  line-height: 1.5;
}

a {
  color: hsl(var(--foreground) / var(--link-accent, 0.8));
  text-decoration: none;
}

li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

/* 
    Helper classes
*/
.underline,
.link-underline a {
  text-decoration: underline;
}

.bg-black {
  background-color: hsl(var(--foreground) / var(--bg-accent, 1));
}

.bg-white {
  background-color: hsl(var(--background) / var(--bg-accent, 1));
}

.text-black {
  color: hsl(var(--foreground) / var(--text-accent, 1));
}

.text-white {
  color: hsl(var(--background) / var(--text-accent, 1));
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-direction: var(--direction, row);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap {
  gap: var(--gap, var(--default-spacing));
}

.p {
  padding: var(--p, var(--default-spacing));
}

.m {
  margin: var(--m, var(--default-spacing));
}

.text-center {
  text-align: center;
}

.ff-architect {
  font-family: var(--ff-architect);
}

/* 

    Components

*/

.hero,
.projects,
.experience,
.education {
  border-block-end: 0.1em solid hsl(var(--foreground));
}

.projects__link {
  padding-block: 0.5em;
  border-block-start: 0.1em hsl(var(--foreground)) solid;
}

.experience__item {
  background-color: hsl(var(--foreground) / 0.2);
  padding: 1rem;
  display: grid;
  gap: 0.5em;
  border-block-start: 0.1em solid hsl(var(--foreground));
}

.experience__link {
  color: hsl(var(--accent-color));
}

.education__list {
  margin-block-start: 0.5rem;
}

.education__list li::before {
  content: "- ";
}
