@use "../functions/" as f;
$link: "https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap";

$primary-font: "Outfit", sans-serif;
$secondary-font: "Outfit", sans-serif;

$primary-size: 100%;
$preferred-size: f.to-r-em(18);

$weight-normal: 300;
$weight-natural: 300;
$min-bold: 400;
$min-bold-italic: 400i;
$bold: 600;

:root {
  --font-link: "#{$link}";

  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};

  --primary-size: #{$primary-size};
  --preferred-size: #{$preferred-size};

  --weight-normal: #{$weight-normal};
  --weight-natural: #{$weight-natural};
  --min-bold: #{$min-bold};
  --min-bold-italic: #{$min-bold-italic};
  --bold: #{$bold};
}
