@use "../functions/" as f;
$link: "https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap";

$primary-font: "League Spartan", sans-serif;
$secondary-font: "League Spartan", sans-serif;

$primary-size: 100%;
$preferred-size: f.to-r-em(16);

$primary-default-weight: 500;
$secondary-default-weight: 500;

$weight-normal: 500;
$weight-natural: 500;
$min-bold: 600;
$min-bold-italic: 600i;
$bold: 700;

:root {
  --font-link: "#{$link}";

  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};

  --primary-font-weight: #{$primary-default-weight};
  --secondary-font-weight: #{$secondary-default-weight};

  --primary-size: #{$primary-size};
  --preferred-size: #{$preferred-size};

  --weight-normal: #{$weight-normal};
  --weight-natural: #{$weight-natural};
  --min-bold: #{$min-bold};
  --min-bold-italic: #{$min-bold-italic};
  --bold: #{$bold};
}

.primary-font {
  font-family: var(--primary-font);
  font-weight: $primary-default-weight;
}

.secondary-font {
  font-family: var(--secondary-font);
  font-weight: $secondary-default-weight;
}
