@use "../functions/" as f;
@use "media-queries" as queries;
@use "margin" as m;
@use "sass:math";
@use "sass:list";

$border-styles: dashed, dotted, double, groove, outset, ridge solid;

@for $i from 1 to 11 {
  // setting different border radius sizes
  .brd-#{$i} {
    border-radius: #{$i}em;
  }
  // small border radius sizes
  .sbrd-#{$i} {
    border-radius: #{math.div($i, 10)}em;
  }

  // setting different border sizes
  .b-#{$i} {
    border: #{math.div($i, 10)}em solid transparent;
    border-color: inherit;
  }
  // small border-sizes
  .sb-#{$i} {
    border: #{math.div($i, 100)}em solid transparent;
  }
  @each $name, $value in m.$directions {
    .b#{$name}-#{$i} {
      border-#{$value}: #{math.div($i, 10)}em solid transparent;
      border-color: inherit;
    }
    .sb#{$name}-#{$i} {
      border-#{$value}: #{math.div($i, 100)}em solid transparent;
      border-color: inherit;
    }
  }
}

.no-border {
  border: none;
}

//  setting borders for different screen sizes

@each $name, $values in queries.$devices {
  $size: list.nth($values, 1);
  $class: list.nth($values, 2);
  @include queries.from-mobile($size) {
    .#{$class}-up-no-border {
      border: none;
    }
    @for $i from 1 to 12 {
      .#{$class}-up-brd-#{$i} {
        border-radius: #{$i}em;
      }
      .#{$class}-up-sbrd-#{$i} {
        border-radius: #{math.div($i, 10)}em;
      }

      .#{$class}-up-b-#{$i} {
        border: #{math.div($i, 10)}em solid transparent;
        border-color: inherit;
      }
      .#{$class}-up-sb-#{$i} {
        border: #{math.div($i, 100)}em solid transparent;
        border-color: inherit;
      }
      @each $name, $value in m.$directions {
        .#{$class}-up-b#{$name}-#{$i} {
          border-#{$value}: #{math.div($i, 10)}em solid transparent;
          border-color: inherit;
        }
        .#{$class}-up-sb#{$name}-#{$i} {
          border-#{$value}: #{math.div($i, 100)}em solid transparent;
          border-color: inherit;
        }
      }
    }
  }
  @include queries.from-desktop($size) {
    .#{$class}-down-no-border {
      border: none;
    }
    @for $i from 1 to 12 {
      .#{$class}-down-brd-#{$i} {
        border-radius: #{$i}em;
      }
      .#{$class}-down-sbrd-#{$i} {
        border-radius: #{math.div($i, 10)}em;
      }

      .#{$class}-down-b-#{$i} {
        border: #{math.div($i, 10)}em solid;
        border-color: inherit;
      }
      .#{$class}-down-sb-#{$i} {
        border: #{math.div($i, 100)}em solid;
        border-color: inherit;
      }
      @each $name, $value in m.$directions {
        .#{$class}-down-b#{$name}-#{$i} {
          border-#{$value}: #{math.div($i, 10)}em solid transparent;
          border-color: inherit;
        }
        .#{$class}-down-sb#{$name}-#{$i} {
          border-#{$value}: #{math.div($i, 100)}em solid transparent;
          border-color: inherit;
        }
      }
    }
  }
}

@each $style in $border-styles {
  .b-s-#{$style} {
    border-style: $style;
  }
}
