@use "../functions/" as f;
.form {
  font-size: f.clamp-builder(0.9rem, 1rem);
  max-inline-size: f.to-r-em(600);
  &__identity {
    &-label {
      display: grid;
      grid-template-rows: auto 1fr;
      align-items: start;
      gap: 0.5em;
      font-weight: var(--weight-normal);
      flex-grow: 1;
    }
    &-input {
      min-inline-size: 0;
      border: f.to-r-em(1) solid var(--grey-500);
      padding: 0.5em;
      padding-inline: 1em;
      border-radius: 0.5em;
      font-size: f.clamp-builder(1rem, 1.1rem);
    }
  }
  &__query {
    &-label:has(&-radio:checked) {
      border-color: var(--green-600);
      outline: solid f.to-r-em(1) var(--green-600);
      background-color: var(--green-200);
    }
    &-label:has(&-radio:hover, &-radio:focus, &-radio:active) {
      background-color: var(--green-200);
    }
  }
  &__check,
  &__query-radio {
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  &__text {
    resize: none;
  }
  &__error {
    color: var(--red);
  }
  & *[aria-error="true"] {
    border-color: var(--red);
  }
}
