@use "../functions/" as f;
.form {
  &__identity {
    &-label {
      display: grid;
      gap: 0.5em;
      font-weight: var(--weight-normal);
      font-size: f.clamp-builder(0.9rem, 1rem);
    }
    &-input {
      border: f.to-r-em(1) solid var(--green-600);
      padding: 0.5em;
      border-radius: 0.5em;
      font-size: f.clamp-builder(1rem, 1.1rem);
    }
  }
  &__error {
    color: var(--red);
  }
}
