.contact__input {
  @apply w-full  
    p-4 py-3 rounded-md;
  background-color: var(--grey-50);
  color: var(--blue-950);
  &:invalid {
    @apply border-2;
    border-color: var(--red-400);
    & ~ .contact__error,
    & ~ .contact__error-icon {
      @apply block;
    }
  }
}
.contact__error {
  @apply text-start hidden italic p-0.5 -mt-1 rounded-b-md px-4;
  background-color: var(--red-400);
  color: var(--grey-50);
}

.contact__error-icon {
  @apply absolute right-4 top-4 hidden;
}
