.contact {
  background-color: var(--blue-600);
  color: var(--grey-50);
}
.contact__form {
  @apply grid gap-4
  justify-self-center 
  text-gray-500 
  max-w-88;
  grid-template-areas:
    "contact-title"
    "contact-input"
    "contact-button";
  @media (width >= 48rem /* 768px */) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "contact-title contact-title"
      "contact-input contact-button";
  }
}
.contact__title {
  grid-area: contact-title;
}
.contact__input-holder {
  grid-area: contact-input;
}

.contact__submit {
  @apply md:self-start;
  grid-area: contact-button;
}

.contact__input {
  @apply w-full  
    p-4 py-3 rounded-md outline-0;
  background-color: var(--grey-50);
  color: var(--blue-950);
  &:not(:placeholder-shown):invalid {
    @apply border-2;
    border-color: var(--red-400);
    & ~ .contact__error,
    & ~ .contact__error-icon {
      @apply block;
    }
  }
}
.contact__error {
  @apply text-start hidden italic p-0.5 -mt-1 rounded-b-md px-4;
  background-color: var(--red-400);
  color: var(--grey-50);
}

.contact__error-icon {
  @apply absolute right-4 top-4 hidden;
}

.contact__submit.contact__submit {
  @apply p-3;
  &:hover,
  &:focus,
  &:active {
    background-color: var(--grey-50);
  }
}
