.contact__input {
  @apply w-full  
    p-4 py-3 rounded-md outline-0;
  background-color: var(--grey-50);
  color: var(--blue-950);
  &:not(:placeholder-shown):invalid {
    @apply border-2;
    border-color: var(--red-400);
    & ~ .contact__error,
    & ~ .contact__error-icon {
      @apply block;
    }
  }
}
.contact__error {
  @apply text-start hidden italic p-0.5 -mt-1 rounded-b-md px-4;
  background-color: var(--red-400);
  color: var(--grey-50);
}

.contact__error-icon {
  @apply absolute right-4 top-4 hidden;
}

.contact__submit,
.action-button {
  @apply p-4 rounded-md cursor-pointer transition-colors duration-300;
  background-color: var(--red-400);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--grey-50);
    outline: 1px solid var(--red-400);
    color: var(--red-400);
  }
}
.action-button {
  @apply px-6 py-2 text-gray-200;
}
