.features__option {
  @apply p-4 border-y-gray-400 border-b;
  &:first-of-type {
    @apply border-t;
  }
}
.features__content {
  /* @apply translate-x-[150%] transition-transform delay-75 duration-300; */
  @apply hidden pt-12;
  &.active {
    /* @apply translate-x-0; */
    @apply block;
  }
}

.features__controller {
  @apply sr-only;

  &:focus,
  &:hover,
  &:active {
    & + .features__label {
      color: var(--red-400);
    }
  }
  &:checked + .features__label {
    color: var(--blue-950);
    &::after {
      content: "";
    }
  }
}

.features__label {
  @apply cursor-pointer text-gray-500 relative p-4;
  &::after {
    @apply w-7/10 py-0.5 absolute inset-x-0 -bottom-1 transition;
    background-color: var(--red-400);
    margin-inline: auto;
  }
  &:hover {
    color: var(--red-400);
  }
}

.features__text {
  @apply pt-20 grid gap-4;
}
