.hero__chrome {
  @apply p-3 rounded-md transition;
  background-color: var(--blue-600);
  color: var(--grey-50);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--blue-600);
    outline: 2px solid var(--blue-600);
  }
}

.hero__firefox {
  @apply bg-gray-200 p-3 rounded-md transition;
  color: var(--blue-950);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--blue-950);
    outline: 2px solid var(--blue-950);
  }
}
