.hero {
  @apply grid gap-12
  relative;
  grid-template-areas: "illustration";
  @media (width >= 48rem /* 768px */) {
    @apply grid-cols-2;
    grid-template-areas: "other illustration";
  }
}

.hero__illustration {
  @apply py-12;
  grid-area: illustration;
}

.hero__text {
  @apply text-center 
  grid gap-6 
  md:items-start 
  md:text-start 
  md:place-content-center;
}

.hero__actions {
  @apply flex justify-center gap-2 md:justify-start;
}
.hero__chrome {
  @apply p-3 rounded-md transition;
  background-color: var(--blue-600);
  color: var(--grey-50);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--blue-600);
    outline: 2px solid var(--blue-600);
  }
}

.hero__firefox {
  @apply bg-gray-200 p-3 rounded-md transition;
  color: var(--blue-950);
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--blue-950);
    outline: 2px solid var(--blue-950);
  }
}
