.image {
  @apply py-12 relative;
}

.image__overlay {
  @apply rounded-r-full 
  w-full 
  h-65/100
  absolute -left-1/4 bottom-0 
  -z-10;
  background-color: var(--blue-600);
}

.image__overlay--right {
  @apply rounded-l-full rounded-r-none left-auto -right-1/4;
}
