.image {
  @apply py-12;
}

.image__overlay {
  @apply rounded-r-full w-3/4 absolute left-0 -mt-[30%] sm:-mt-[30%] -z-10;
  background-color: var(--blue-600);
  padding-block: clamp(6rem, 2.8195rem + 13.5338vw, 15rem);
}

.image__overlay--right {
  @apply rounded-l-full rounded-r-none left-auto right-0;
}
