@use "../functions/" as f;
.hero {
  &__image {
    grid-area: hero-image;
  }
  &__header {
    font-size: f.clamp-builder(3rem, 4rem);
    line-height: 1;
  }
  &__details {
    font-size: 0.85rem;
    line-height: 2;
    &-button {
      letter-spacing: 0.2rem;
    }
  }
}
