@use "../functions/" as f;
$link: "https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap";

$primary-font: "Overpass", sans-serif;
$secondary-font: "Overpass", sans-serif;

$primary-size: 100%;
$preferred-size: f.to-r-em(15);

$weight-normal: 400;
$weight-natural: 400;
$min-bold: 600;
$min-bold-italic: 600i;
$bold: 700;
