$link-color: hsl(4, 100%, 67%);

$red: hsl(4, 100%, 67%);
$red-light: hsl(4, 82%, 94%);

$blue-800: hsl(234, 29%, 20%);
$blue-700: hsl(235, 18%, 26%);
$grey: hsl(0, 0%, 58%);
$white: hsl(0, 0%, 100%);

$purple-600: hsl(246, 80%, 60%);

$orange-300: hsl(15, 100%, 70%); //(work)
$blue-300: hsl(195, 74%, 62%); //(play)
$pink-400: hsl(348, 100%, 68%); //  (study)
$green-400: hsl(145, 58%, 55%); //(exercise)
$purple-700: hsl(264, 64%, 52%); // (social)
$yellow-300: hsl(43, 84%, 65%); //(self care)

$navy-950: hsl(226, 43%, 10%);
$navy-900: hsl(235, 46%, 20%);
$purple-500: hsl(235, 45%, 61%);
$navy-200: hsl(236, 100%, 87%);
