.blue-600 {
  background-color: var(--blue-600);
}
.c-blue-600 {
  color: var(--blue-600);
}
.red-400 {
  background-color: var(--red-400);
}
.c-red-400 {
  color: var(--red-400);
}
.grey-50 {
  background-color: var(--grey-50);
}
.c-grey-50 {
  color: var(--grey-50);
}
.blue-950 {
  background-color: var(--blue-950);
}
.c-blue-950 {
  color: var(--blue-950);
}
