@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary */
  --blue-600: hsl(231, 69%, 60%);
  --red-400: hsl(0, 94%, 66%);
  /* Neutral */
  --grey-50: hsl(0, 0%, 97%);
  --blue-950: hsl(229, 31%, 21%);

  /* System */
  --background: var(--grey-50);
  --foreground: var(--blue-950);

  /* accent colors */
  --accent-color: var(--blue-600);
  --link-color: var(--blue-600);
  /* @media (prefers-color-scheme: dark) {
    --background: var(--blue-950);
    --foreground: var(--grey-50);
  } */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
  line-height: 1.6;
}
