@use "../functions" as f;
@use "colors" as c;
@use "font-size" as fw;
@use "../globals/" as g;

.subscribe {
  max-inline-size: f.to-r-em(700);
  background-color: c.$white;
  color: c.$blue-800;
  border-radius: 1em;
  &__section {
    padding: 2rem;
    > * + * {
      margin-top: 1.5rem;
    }
    &-list {
      list-style: none;
    }
  }
  &__form {
    > * + * {
      margin-top: 1.5em;
    }
    &__label {
      font-size: f.to-r-em(14);
      font-weight: fw.$bold;
      line-height: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__error {
      color: c.$red;
      margin-inline-end: 0;
    }
    &__input {
      inline-size: 100%;
      padding: 1em;
      border: f.to-r-em(1) solid c.$grey;
      border-radius: 0.5em;
      color: c.$grey;
      @include g.active-state {
        border-color: c.$blue-800;
        color: c.$blue-800;
        outline: none;
      }
      &.error {
        border-color: c.$red;
        color: c.$red;
        background-color: c.$red-light;
        @include g.active-state {
          border-color: c.$red;
        }
      }
    }
    &__submit {
      inline-size: 100%;
      padding: 1em;
      border: none;
      border-radius: 0.5em;
      font-weight: fw.$bold;
      background-color: c.$blue-800;
      color: c.$white;
      cursor: pointer;
      @include g.active-state {
        background-color: c.$red;
      }
    }
  }
}
