@use "../main/" as c;
@use "../functions/" as f;
.three__dots {
  display: flex;
  gap: 0.25em;
  &-dot {
    display: block;
    width: f.to-r-em(5px);
    height: f.to-r-em(5px);
    background-color: c.$navy-200;
    border-radius: 100%;
  }
}
