@use "../globals/" as g;
.navbar {
  &__link {
    color: var(--white);
    text-transform: lowercase;
    position: relative;
    @include g.from-desktop-down(g.$mobile) {
      color: var(--black);
    }
    @include g.active-state {
      &::before {
        content: "";
        background-color: var(--white);
        position: absolute;
        padding: 0.1em;
        inset-block-end: -0.5em;
        inline-size: 50%;
        inset-inline: 0;
        margin-inline: auto;
        transition: padding 0.3s ease-in-out;
        @include g.from-desktop-down(g.$mobile) {
          background-color: var(--black);
        }
      }
    }
  }
}
